@keyframes slideInLeft {
  from {
    opacity: 0;
    left: -40px;
  }

  to {
    opacity: 1;
    left: -32px;
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@mixin animateSlideInTop($delay) {
  animation: slideInTop 0.2s ease-in-out $delay forwards;
}
