@keyframes slideInLeft {
  from {
    opacity: 0;
    left: -40px;
  }

  to {
    opacity: 1;
    left: -32px;
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes slideInTopShort {
  from {
    opacity: 0;
    top: 10px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeIamge {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
