@font-face {
  font-family: "Chelsea Basics";
  src: url("/fonts/ChelseaBasis-Light.woff");
  font-style: normal;
  font-display: swap;
  font-weight: $font-light;
}

@font-face {
  font-family: "Chelsea Basics";
  src: url("/fonts/ChelseaBasis-Regular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: $font-regular;
}

@font-face {
  font-family: "Chelsea Basics";
  src: url("/fonts/ChelseaBasis-Medium.woff");
  font-style: normal;
  font-display: swap;
  font-weight: $font-medium;
}
