@import url("./_common.scss");

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --main-blue-c: #001489;
  --secondary-light-blue-c: #0033ff;
  --secondary-dark-blue-c: #140a47;

  --main-white-c: #fff;
  --secondary-white-c: #ffffbf;

  --main-orange-c: #fbb700;

  --main-black-c: #140a71;
  font-family: "Chelsea Basics", Inter, Avenir, Helvetica, Arial, sans-serif;
}

button {
  font-family: "Chelsea Basics", Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: var(--main-white-c);
}

.container {
  max-width: 1276px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
